:root {
    --cor-primaria: #B71C1C;
    --cor-secundaria: #FFAB00;
    --cor-texto-principal: #43342e;
    --cor-fundo-geral: #fff8e1;
    --cor-destaque-texto: #d32f2f;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

header {
    background-color: var(--cor-primaria);
    padding: 1em 0;
    color: white;
}